{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        {% block extracdn %}
        {% endblock  %}
    </head>
    <body style="background-color: #f3f4f6;">
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light sleep" id="ftco-navbar">
<div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">AUCTIONS</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
<span class="oi oi-menu"></span> Menu
</button>
<div class="collapse navbar-collapse" id="ftco-nav">
<ul class="navbar-nav ml-auto">
    <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
<li class="nav-item">            {% if user.is_authenticated %}
 <li class="nav-item">
     <a class="nav-link" href="{% url 'logout'%}">Log Out</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'addlist' %}"> Add List </a>
                </li>
                   

                
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login/auth0">Log In</a>
                </li>
            {% endif %}
 </li>

 <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>

<li class="nav-item cta"><a href="contact.html" class="nav-link"><span>Get started</span></a></li>
<li class="nav-item">{% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
 </li>
</ul>
</div>
</div>
</div>
</nav>
        <section class="d-flex" style="overflow:hidden">
            <section class="flex-grow-1" style="background-color:#f3f4f6">
                {% block body %}
                {% endblock %}
            </section>
        </section>
        <footer>
            <div class="container-fluid mx-auto">
    <div class="row justify-content-center top-part">
        <div class="col-md-6 text-center center-content">
            <div class="d-flex-inline">
                <h3 class="footer-heading">Start a Project with itCraft</h3>
            </div>
            <div class="d-flex-inline">
                <p>We are based in Warsaw, Bydgoszcz & Torun in Poland but we are Google Cloud Partner we can arrange a meeting at Google Campus in Warsaw or in London. We are also present in Norway. Below you will find all the contact details you need.</p>
            </div>
            <div class="d-flex-inline pt-2"> <button class="btn-pink btn">ESTIMATE PROJECT</button> </div>
        </div>
    </div>
    <div class="row">
        <div class="line mb-3 mx-auto"></div>
        <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
            <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
                <h3>itCraft</h3> <small>Copyright &copy 2019</small>
            </div>
            <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
                <h5 class="places">BYDGOCZCZ</h5>
                <p class="mb-0">Bydgoszcz Centrum Burnesa</p>
                <p class="mb-0">ul Pzzenmdcwa 25, ibsura 24,</p>
                <p class="mb-0">B5-7GB Bydgosrdz, Poland</p>
            </div>
            <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
                <h5 class="places">TORUN</h5>
                <p class="mb-0">ul Reyana 2-4</p>
                <p class="mb-0">A0-100 Torun,</p>
                <p class="mb-0">Poland</p>
            </div>
            <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
                <h5 class="places">WARSAW</h5>
                <p class="mb-0">Brain Embassy</p>
                <p class="mb-0">Alaya Jerasublisuble RS123</p>
                <p class="mb-0">02-222 Warsawa</p>
            </div>
            <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
                <h5 class="places">LONDON</h5>
                <p class="mb-0">Google Campus</p>
                <p class="mb-0">4-5 Barnhill, Shaneditch</p>
                <p class="mb-0">London EC2A 4BK</p>
            </div>
            <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
                <h5 class="places">NORWAY</h5>
                <p class="mb-0">Kristiansand</p>
            </div>
        </div>
        <div class="line mb-3 mx-auto"></div>
    </div>
    <div class="row bottom-part">
        <div class="d-lg-flex justify-content-between bd-highlight col-md-12 mb-5 px-5">
            <div class="p-2 align-self-center flex-fill bd-highlight">
                <div class="fa fa-facebook px-2"></div>
                <div class="fa fa-linkedin px-2"></div>
                <div class="fa fa-twitter px-2"></div>
                <div class="fa fa-instagram px-2"></div>
            </div>
            <div class="p-2 row flex-fill bd-highlight justify-content-left">
                <div class="p-2 d-lg-flex">
                    <div class="p-2 flex-fill d-flex bd-highlight">Services</div>
                    <div class="p-2 flex-fill d-flex bd-highlight">Portfolio</div>
                    <div class="p-2 flex-fill d-flex bd-highlight">Pricing</div>
                    <div class="p-2 flex-fill d-flex bd-highlight">Testimonials</div>
                    <div class="p-2 flex-fill d-flex bd-highlight">Team</div>
                    <div class="p-2 flex-fill d-flex bd-highlight">Blog</div>
                    <div class="p-2 flex-fill d-flex bd-highlight">Carrer</div>
                    <div class="p-2 flex-fill d-flex bd-highlight">How we work</div>
                    <div class="p-2 flex-fill d-flex bd-highlight">Manifesto</div>
                </div>
            </div>
            <div class="p-2 align-self-center flex-fill bd-highlight">
                <div class="fa fa-mobile px-2 grey-text">&nbsp;&nbsp;<span id="contact">888-777-666</span></div>
                <div class="fa fa-envelope-o px-2 grey-text">&nbsp;&nbsp;info@itcraft.in</div>
            </div>
        </div>
    </div>
</div>
        </footer>
    </body>
</html>
