{% extends "auctions/layout.html" %}

{% block body %}
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
							<div class="tab-pane active" id="pic-1"><img src="{% url 'index' %}media/{{list.image}}" /></div>
						</div>
						
					</div>
					<div class="details col-md-6">
             <h3 class="product-title">{{list.title}}</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 Views</span>
						</div>
						<p class="product-description">{{list.description}}</p>
						<h4 class="price">Best Offer so Far: <span>
								{% for offer in offers|slice:":1" %}
								  {{offer.bit}}
								{% endfor %}

							</span></h4> 						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						<h5 class="sizes" style="display: inherit;">Categories:
							<span class="size" data-toggle="tooltip" title="small">
								{% for categorie in list.categorie.all %}
								<form method="post" action= "{% url 'seecategorie' %}">

									{% csrf_token %}
									 <input type="hidden" name="categorie" value="{{categorie}}">
									 <button type="submit" class="btn btn-link" style="line-height:0;color:black">{{categorie}}</button>
								 </form>
								{%endfor%}
							</span>
						</h5>
						</h5>
						<div class="action">
 {% if owner == user.id %}
 <table class="table">
 <thead>
	 <tr>
		 <th scope="col">USER</th>
		 <th scope="COL">Offer</th>
		 <th scope="col"></th>
	 </tr>
 </thead>
 <tbody>
      {% for offer in offers %}
			<tr>
				<td>
			{{offer.user}}
				</td>
				<td>
				{{offer.bit}}
				</td>
				<td>
					<button class="btn btn-link" style="color:green;line-height:0"> Accept This Offer </button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
 </table>
 {% else %}
      {% if user.is_authenticated %}
      <form action="{% url 'addoffer' %}" method="post">
         {% csrf_token %}
         <input type="hidden" value="{{list.id}}" name="idlist"/>
      {{makeabeat}}
      <button class="btn color blue" type="submit">submit</button>
      </from>
     {% else %}
		 <a href="{% url 'index' %}login/auth0">Loging to make an offer </a> 
		 {% endif %}
   {% endif %}

	 <hr/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr/>
		<h3 class="text-center"> Similiar Producs </h3>
		<div class="row">
			{% for newoffer in lastoffers %}
             <div class="card col-lg-3 col-sm-12 m-4">
							 <img src="{% url 'index' %}media/{{newoffer.image}}"/>
							 <div class="card-body">
								 <h5 class="card-title">{{ newoffer.title }}</h5>
								 <a href="{% url 'seelist' newoffer.id %}"> see more </a>
							 </div>
						 </div>
			{% endfor %}
	</div> 
{% endblock %}
